.news__views {
	display: flex;
	justify-content: space-around;
	padding: 30px 10px;
}

.view__title {
	margin: 10px 0px;
	min-width: 88px;
}
.view__text { 
	min-width: 400px;
	margin: 10px 0px;
	padding-right: 20px;
}
.view__navi{
	display: flex;
	justify-content: flex-end;
	padding: 10px
}
